<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../scss/mobile/mobile2.css">
    <title>Test</title>
</head>
<body>
    <div class="main">
            
        <div   class="main-div">
            <div class="main-img">
                <img src="../img/sankt-peterburg-piter-st-3495.svg" alt="">
                <div class="new">
                    <p class="new-text">НОВИНКА</p>
                </div>
            </div>
                <div class="main-time">
                    <div class="main-time-logo"><img src="..//img/Vector.svg" alt="" class="logo-width"></div>
                        <p class="time-text"> 2 часа</p>
                </div>
                        <p class="sale">
                            АКЦИЯ - Обзорная экскурсия по рекам и 
                            &nbsp;&nbsp;&nbsp;&nbsp; каналам  с остановками Hop on Hop Off 2019</p>

            <div class="main1-info">
                    <img src="../img/Vector1.svg" alt="" class="main1-info-img">
                        <p class="main1-info-text">Билет на целый день</p>
            </div>

                <div class="main2-info">
                    <img src="../img/Vector1.svg" alt="" class="main2-info-img">
                        <p class="main2-info-text">Неограниченное число катаний</p>
                </div>

            <div class="main3-info">
                <img src="../img/Vector1.svg" alt="" class="main3-info-img">
                    <p class="main3-info-text">6 остановок у главных <br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;достопримечательностей</p>
            </div>

                <div class="main4-info">
                    <img src="../img/Vector1.svg" alt="" class="main4-info-img">
                        <p class="main4-info-text">Ближайший рейс сегодня</p>
                </div>

            <div class="time-block">
                <div class="time1">12:00</div>
                <div class="time2">12:00</div>
                <div class="time3">12:00</div>
                <div class="time4">12:00</div>
            </div>

            <div class="active">
                <div class="price">
                    <h1 class="price-num1">2900 <img src="../img/Vector (r).png" alt="" class="price-R"></h1>
    
                </div>
                <div class="button">
                    <p class="button-text">Подробнее</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>